<form (ngSubmit)="start()"
      [formGroup]="optionsForm">
  <div class="options">

    <div class="option">
      <h3 class="option__header">Który symbol wybierasz?</h3>
      <mat-radio-group formControlName="humanSymbol">
        <mat-radio-button class="option__radio-button"
                          [value]="playerSymbol.O">
          O
        </mat-radio-button>

        <mat-radio-button class="option__radio-button"
                          [value]="playerSymbol.X">
          X
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="option">
      <h3 class="option__header">Kto zaczyna?</h3>
      <mat-radio-group formControlName="firstPlayer">
        <mat-radio-button class="option__radio-button"
                          [value]="player.Computer">
          <mat-icon>computer</mat-icon>
          Komputer
        </mat-radio-button>

        <mat-radio-button class="option__radio-button"
                          [value]="player.Human">
          <mat-icon>person</mat-icon>
          Użytkownik
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-raised-button
            color="primary"
            class="start-button"
            type="submit"
            [disabled]="gameStarted">
      Start
    </button>
  </div>
</form>

<div class="game-board"
     [ngClass]="getGameEndResultClass()">
  <button class="game-field"
          [ngClass]="{'winner-field': isWinnerField(item.key)}"
          *ngFor="let item of (fields$ | async) | keyvalue:order; trackBy: trackByKey"
          (click)="humanMove(item.key)"
          [disabled]="!!item.value || (turn$ | async) === player.Computer || !!gameEnd || !gameStarted"
          matRipple>
    {{ item.value }}
  </button>
</div>

<div class="info">
  <h3 class="info__header" *ngIf="(turn$ | async) === player.Computer">Czekaj na ruch komputera.</h3>
  <h3 class="info__header" *ngIf="(turn$ | async) === player.Human">Twój ruch!</h3>
</div>
