.game-board {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto;
  background: white;
}

.game-field {
  display: flex;
  position: relative;
  width: 25%;
  height: 125px;
  border: 1px red solid;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 50px;
  color: #0f0f0f;
}

.options {
  display: flex;
  width: 600px;
  flex-direction: column;
  margin: 20px auto;
}

.option {
  margin-top: 20px;
  margin-bottom: 20px;
}

.option__header {
  margin-bottom: 20px;
  font-size: 20px;
}

.option__radio-button {
  margin-right: 40px;

  mat-icon {
    margin-right: 10px;
  }

  &::ng-deep {
    .mat-radio-label-content {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
